[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
pandas = "*"
python-dotenv = "*"
replicate = "*"
requests = "*"
seaborn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
