[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
replicate = "*"
pandas = "*"
tqdm = "*"
requests = "*"
python-dotenv = "*"
mako = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
